#main {
    width: 1000px;
    margin: 0 auto;
}
#todos {
    flex-wrap: wrap;
}

.card {
    width: 200px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #AAA;
}

#modal {
    left: 40%;
    position: relative;
    top: 73px;
    margin: 20px;
    padding: 20px;
    background: wheat;
    width: 200px;
}